body{
    margin: 0;
    font-family: Arial;
    font-size: 20px;
    background-color: #f4f4f4;
    color: #222;
}

/* cabeçalho */
header{
    background-color: green;
    color: white;
    padding: 25px;
    text-align: center;
}

/* área principal */
main{
    padding: 20px;
}

/* caixas de conteúdo */
.caixa{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
}

/* botões */
button{
    margin: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: green;
    color: white;
    border-radius: 5px;
}

button:hover{
    background-color: darkgreen;
}

/* links */
a{
    color: green;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}